h1{
    background-color: black;
    color:white;
    font-family: cursive;
    font-weight: bolder;
}
span{
    color:aqua;
    font-weight: bolder;
}
h2{
    background-color: mediumpurple;
    color:white;
    text-align: center;
    font-family: cursive;
    font-style:italic;
    font-weight: lighter;
}
h3{
    background-color: skyblue;
    color:mediumslateblue;
    text-align: right;
    text-decoration: underline;
    font-family: cursive;
    font-weight: lighter;
}